@import "tailwindcss";

table {
  @apply max-w-200 my-3 mx-auto p-4 table-fixed text-right border-separate border-spacing-x-4 border-spacing-y-2;
}

thead {
  @apply text-[0.7rem] text-[#83e6c0];
}

tbody {
  font-family: "Roboto Condensed", sans-serif;
  @apply text-[0.85rem] text-[#c2e9e0];
}
