@import "tailwindcss";

header {
  @apply w-full flex flex-col items-center justify-center gap-5 my-10;
}

img {
  @apply w-32;
}

h1 {
  font-family: "Roboto Condensed", sans-serif;
  @apply text-3xl;
}

h1 span {
  @apply bg-linear-30 from-green-300 to-yellow-400 bg-clip-text text-transparent;
}
